$white: #fffffa;
$black: #292929;
$background: #f2f2f2;
$primary: #880e4f;
$primaryDark: #560027;
$primaryLight: #bc477b;

* {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: $background;
}

input[type='password'],
input[type='email'] {
  border: 1px solid $primaryLight;
  height: 40px;
  border-radius: 8px;
  padding: 0 1rem;

  &:focus {
    outline-color: $primaryLight;
  }
}

button {
  background-color: $primary;
  color: $white;
  border-radius: 8px;
  font-size: 16px;
  height: 40px;
  padding: 0 1rem;
  border: 0;

  &:hover {
    cursor: pointer;
    opacity: 0.9;
  }
}

.login {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  height: 100vh;

  .header {
    display: flex;
    flex-direction: column;
    align-items: center;

    border-top: 40px solid $primaryDark;
    background-color: $primary;

    img {
      margin-top: 40px;
    }

    h1 {
      color: $white;
      margin: 16px 0 40px;
    }
  }

  .form {
    display: flex;
    flex-direction: column;

    width: 400px;
    margin: auto;

    background: $white;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 1px 3px -1px $black;

    h2 {
      color: $primaryDark;
      text-align: center;
      font-size: 20px;
      text-transform: uppercase;
    }

    input {
      margin-top: 0.5rem;
    }

    button {
      margin-top: 1rem;
    }

    .createAccoun {
      margin: 0 auto;
      padding-top: 0.5rem;

      color: $primary;

      &:hover {
        cursor: pointer;
        text-decoration: underline;
      }
    }

    .errorWrap {
      display: flex;
      flex-direction: column;
      align-items: center;

      display: none;
    }

    .error {
      display: none;
      color: $primaryDark;
      font-size: 1.1rem;
    }
  }

  .footer {
    background-color: $primary;
    height: 48px;
  }
}
